body, .App {
  background: url('../image/image_background_comp.webp'), url('../image/image_background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
  font-family: Arial, sans-serif;
  background-color: #17202A;
  transition: background-color 0.3s ease-in-out;
}

.content {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}
