
body, .App {
    background-image: url('../image/image_background.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    font-family: Arial, sans-serif;
  }
  
 
  .content {
    padding: 20px;
  }
  

  .project {
    background-color: rgba(0, 0, 0, 0.8); 
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
  }
  