.contact-container {
  max-width: 800px;
  margin: 100px auto 50px;
  padding: 20px;
  background-color: #d3d3d3;
  color: #333;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  transition: color 0.3s, text-shadow 0.3s;
}

.contact-container p {
  margin-bottom: 20px;
  color: #d3d3d3;
  text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  font-size: 30px;
  font-family: Arial, sans-serif;
  transition: color 0.3s, text-shadow 0.3s;
}

.mailto-link {
  display: inline-block;
  margin-top: 15px;
  color: #007bff;
  font-weight: bold;
  text-decoration: underline dashed 2px #0056b3;
  font-size: 2em;
  font-family: Arial, sans-serif;
  letter-spacing: 0.5px;
  transition: color 0.3s;
}

.mailto-link:hover {
  color: #0056b3;
}

.contact-links {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.contact-links a {
  color: #007bff;
  font-size: 15px;
  font-family: Arial, sans-serif;
  text-decoration: underline dashed 2px #0056b3;
  transition: color 0.3s;
}

.contact-links a:hover {
  color: #0056b3;
}
