/* Ajout de marge en bas des cartes */
.parcours-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 20px; /* Ajoute une marge inférieure pour espacer du footer */
}

.card {
  background-color: #2b2b2b;
  padding: 20px;
  margin-bottom: 20px; /* Ajoute une marge inférieure pour espacer les cartes */
  border-radius: 10px;
}

.skills {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.skill-icon {
  font-size: 1.5rem;
  color: #00bcd4; /* Vous pouvez changer cette couleur selon vos préférences */
}
