.footer-container {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 60px;
  font-size: 3rem;
  letter-spacing: 1px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;


}

.footer-link {
  color: #fff;
  font-size: 0.9rem;
  transition: color 0.3s;
  transition: text-shadow 0.3s;
}

.footer-link:hover {
  color: #007bff;
}

.rights {
  margin-bottom: 10px;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
  transition: text-shadow 0.3s;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  gap: 10px;
  justify-content: center;
}

@media (max-width: 768px) {
  .footer-links {
    flex-direction: column;
  }
}
