.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .landing-title, .intro-subtitle {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff; /* Texte blanc pour plus de lisibilité */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  .section-card {
    background-color: rgba(0, 0, 0, 0.6); /* Fond noir semi-transparent */
    color: #ffffff; /* Texte blanc */
    border-radius: 10px;
    padding: 20px;
    margin: 15px 0;
    width: 80%; /* Ajustez la largeur pour l'alignement */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .landing-link {
    display: inline-block;
    margin-top: 10px;
    color: #007AFF;
    text-decoration: none;
    font-weight: bold;
  }
  
  .landing-link:hover {
    text-decoration: underline;
  }
  