.presentation-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 50px;
   background-color: #ffffff;; /* Augmente l'opacité pour rendre le fond plus visible */
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.presentation-section {
  line-height: 1.8;
  font-size: 1.2rem;
  color: black; /* Change la couleur du texte en blanc pour plus de contraste */
}

.presentation-title {
  font-size: 3rem;
  font-weight: 700;
  color: black; /* Titre en blanc */
  border-bottom: 2px solid #007BFF;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.presentation-content {
  margin-top: 20px;
}

.presentation-content p {
  margin-bottom: 20px;
  text-align: justify;
}

.presentation-content p strong {
  color: #00bfff; /* Bleu clair pour les mots-clés */
  font-weight: bold;
}

@media (max-width: 768px) {
  .presentation-container {
    padding: 30px;
  }

  .presentation-title {
    font-size: 2.2rem;
  }

  .presentation-content p {
    font-size: 1rem;
  }
}
/* Responsive About Page */
@media (max-width: 768px) {
  .about-container {
    padding: 20px;
    text-align: center; /* Centrer le texte */
  }

  .about-title {
    font-size: 1.8rem; /* Réduction du titre */
  }

  .about-content {
    font-size: 1rem; /* Réduction de la taille du texte */
    line-height: 1.5;
  }
}

@media (max-width: 480px) {
  .about-title {
    font-size: 1.5rem;
  }

  .about-content {
    font-size: 0.9rem;
  }
}
