.presentation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Pour que le footer soit en bas */
  padding: 20px;
  background-color: #1a1a1a; /* Couleur de fond */
}

.presentation-section {
  max-width: 800px; /* Largeur maximale du contenu */
  margin: 20px;
  padding: 20px;
  background-color: #000; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre légère */
  line-height: 1.6; /* Espace entre les lignes pour plus de lisibilité */
  text-align: justify; /* Justification du texte */
}

.presentation-section p {
  margin-bottom: 15px; /* Espace entre les paragraphes */
}
