.privacy-policy {
  max-width: 800px; /* Largeur maximale pour le contenu */
  margin: 50px auto; /* Centrage horizontal et espacement par rapport au haut */
  padding: 20px;
  background-color: #ffffff; /* Couleur de fond */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.privacy-policy h1, .privacy-policy h2, .privacy-policy p {
  color: #333; /* Couleur du texte */
}

.privacy-policy h1 {
  font-size: 2rem;
  margin-bottom: 20px; /* Espacement sous le titre principal */
}

.privacy-policy h2 {
  font-size: 1.5rem;
  margin-top: 20px; /* Espacement au-dessus des sous-titres */
  margin-bottom: 10px; /* Espacement sous les sous-titres */
}

.privacy-policy p {
  font-size: 1rem;
  line-height: 1.6; /* Hauteur de ligne pour une meilleure lisibilité */
}
