.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project-card {
  max-width: 800px; /* Limite la largeur maximale */
  margin: 30px auto; /* Centre la carte avec des marges automatiques */
  padding: 15px; /* Ajoute du padding à l'intérieur des cartes */
  border-radius: 8px; /* Coins arrondis */
  background-color: #2b2b2b; /* Couleur de fond de la carte */
  padding: 30px;
}


.project-image img {
  width: 80%;
  height: auto;
  margin-top: 10px;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-right: 30px;
  object-fit: cover; 
  display: flex;
  justify-content: center;
  align-items: center; 
  border-radius: 10px; 
  transition: background-color 0.3s ease;
  cursor: pointer; 
  transition: background-color 0.3s ease;
  

}

.project-image img:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;

}
  


.project-details h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;

}

.project-details p {
  margin-bottom: 10px;
  line-height: 1.5;
  font-weight: 500;
  font-size: 1.2rem;
  transition: color 0.3s ease;

}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  list-style: none;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tech-list li {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
  transition: text-shadow 0.3s;

}

.project-link {
  color: #1e90ff; /* Couleur bleue */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  transition: text-shadow 0.3s;
  transition: background-color 0.3s ease;
  
}

.project-link:hover {
  text-decoration: underline;
  color: #007bff; /* Couleur bleue */
  background-color: rgba(0, 0, 0, 0.2); 

  /* Affichage des cartes en colonne sur petites écrans */
  @media (max-width: 768px) {
    .content {
      flex-direction: column;
    }
   .project-card {
      margin-bottom: 20px;
    }
  }
}