.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: inline-block; 
    transition: background-color 0.3s;
    z-index: 9999; /* Positionne le bouton en haut de la page */
  }
  
  .scroll-to-top-button.show {
    display: block; 
    
  }
  
  .scroll-to-top-button:hover {
    background-color: #0056b3;
  }
  