/* Parcour.css */

.parcours-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.parcours-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.experience, .education, .skills {
  margin-bottom: 40px;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  transition: opacity 0.5s ease; /* Ajout d'une transition d'opacité */
}

.job, .degree {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.job h3, .degree h3 {
  margin-top: 0;
}

.skills-list {
  list-style: none;
  padding: 0;
}

.skills-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
  transition: opacity 0.5s ease; /* Ajout d'une transition d'opacité */
}

.icon {
  margin-right: 10px;
}
