/* Conteneur principal pour occuper toute la page avec flexbox */
.background-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Assure que le fond occupe toute la hauteur de l'écran */
  background: url('./image_background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.app-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

