<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Laisser index.html sans réécriture si appelé directement
    RewriteRule ^index\.html$ - [L]

    # Redirection vers index.html pour les routes côté client
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.html [L]
</IfModule>

# Ajout des en-têtes Cache-Control pour les fichiers statiques
<IfModule mod_headers.c>
    <FilesMatch "\.(html|css|js|jpg|jpeg|png|gif|webp|svg|ico|woff|woff2|ttf|eot|otf|json)$">
        Header set Cache-Control "public, max-age=3600"
    </FilesMatch>
</IfModule>
