/* Styles de base pour le header */
header {
  display: flex;
  justify-content: space-between; /* Aligner les éléments horizontalement avec un espacement égal */
  align-items: center; /* Centrer verticalement les éléments */
  padding: 20px; /* Ajouter de l'espace autour du header */
  background-color: #ffffff; /* Ajouter une couleur de fond */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajouter une ombre pour une apparence plus élégante */
}

.logo {
  /* Déplacer le logo à gauche */
  order: -1;
  margin-right: 20px; /* Ajouter de l'espace à droite du logo */
}

/* Styles pour le menu de navigation */
.menu-items ul {
  display: flex;
  list-style: none;
  margin: 0; /* Supprimer la marge par défaut */
  padding: 0; /* Supprimer le remplissage par défaut */
}

.menu-items ul li {
  margin-right: 20px; /* Ajouter de l'espace entre les éléments de navigation */
}

.menu-items ul li:last-child {
  margin-right: 0; /* Supprimer la marge à droite du dernier élément */
}

.menu-items ul li a {
  color: #333333; /* Couleur du texte des liens */
  text-decoration: none; /* Supprimer le soulignement par défaut des liens */
  font-weight: bold; /* Mettre en gras le texte des liens */
  transition: color 0.3s ease; /* Ajouter une transition de couleur au survol */
}

.menu-items ul li a:hover {
  color: #007bff; /* Couleur du texte des liens au survol */
}

/* Styles pour le menu burger */
.menu-burger {
  display: none; /* Masquer l'icône de menu burger par défaut */
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333333; /* Couleur des barres du menu burger */
  margin: 5px 0;
  transition: background-color 0.3s ease;
}

.open .bar:first-child {
  transform: translateY(8px) rotate(45deg);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:last-child {
  transform: translateY(-8px) rotate(-45deg);
}

/* Media query pour les écrans de petite taille */
@media screen and (max-width: 768px) {
  .menu-items {
    display: none; /* Masquer le menu de navigation principal sur les écrans de petite taille */
  }

  .menu-burger {
    display: block; /* Afficher l'icône de menu burger sur les écrans de petite taille */
  }

  .menu-items.open {
    display: flex; /* Afficher le menu burger lorsque le burger est ouvert */
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #007bff; /* Couleur de fond du menu burger */
    padding: 20px;
    border-radius: 5px;
  }

  .menu-items.open li {
    margin-bottom: 10px;
  }
}
